.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border-radius: 1rem;
    border: 1px solid #fff;

}
.acordeon .tigger{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-weight: 700;
}
.acordeon .content{
    display: none;
}