@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans' sans-serif;
}
 body{
    background-color: #000;
    color: #fff;
    background: rgba(110,"" 40, 110, 0.692);
    background: linear-gradient(145deg, rgba(214, 7, 214, 0.829) 15%, rgba(0,0,0,1) 55%, rgba(0,0,205,1) 100%);
    
}
a{
    text-decoration: none;
    color: #fff;
}