@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.apresentacao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* header*/
.photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  
}.title{
  text-align:  center  ;
  max-width: 70%;
}
.description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; 
}
.description p{
  margin: .5rem;
  font-size: 1.2rem;
  font-family: 'roboto' sans-serif;
}
.container{
  margin: .5rem;
  padding: .5rem;
  border: solid 1px #fff;
  border-radius: 5px;
}
.icon {
  margin-right: 13px;
  
}
@media only  screen and (min-width:768px){
 .container{
  flex-direction: row;
  width: 70%;
 
 margin-left: 15%;
 align-items: center;
 }
 .apresentacao{
  display: flex;
   flex-direction: row;
   margin: auto;
   width:100%;
  }
  .description{
   margin-left: 270px;
  }
  .title{
   margin-left: 45px;
   text-align: justify;
  } 
  .photo{
    margin-top: 10px;
  }
}
/* Main*/
