.apresentacao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 1rem;
}.title{
  text-align:  center  ;
  max-width: 70%;
}
.description{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}